.welcome-text {
  font-size: 45px;
  text-align: center;
  margin: 0;
  text-shadow: 5px 5px hsla(197, 23%, 55%, 0.979);
  

}

img {
  margin-left: 1500px;
  width: 150px;
  height: 150px;
}

.sheep-body {
  background-image: url("../cloud.png");
}

.middle-sheep-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 125px;
}

input {
  margin-bottom: 5px;
  background-color: #dae8fc;
}

.asterik {
  margin: 0;
}

.asterik::after {
  content: "*";
  color: red;
}

.error-message {
  background-color: #ffdcdc;
  font-size: 15px;
  text-align: center;
}

footer {
  font-size: 10px;
  margin-top: 220px;
  text-align: center;
 
  color:transparent;
}

.button {
  width: 200px;
  height: 80px;
  text-align: center;
  margin-top: 80px;
  border-radius: 6px;
  background-color: #1f8fff;
  padding: 0px 10px;
  justify-content: center;
  display: inline;
}

.uploadRes {
  text-align: center;
  border-radius: 6px;
  background-color: #1f8fff;
  padding: 0px 10px;
  justify-content: center;
  display: inline;
}

.button_login1 {
  width: 60px;
  height: 20px;
  margin-top: 80px;
  border-radius: 6px;
  background-color: #1f8fff;
  margin-right: 10px;
  text-align: center;
}
.button_login2 {
  width: 60px;
  height: 20px;
  margin-top: 80px;
  border-radius: 6px;
  background-color: #1f8fff;
  margin-left: 10px;
  text-align: center;
}

.register_button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.dashboard_component {
  position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.dashboard_component::before {
  content: "";
  background-image: url("../cloud.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 60%;

}

.joblist {

  position: relative; 
  height: 600px;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: rgba(64, 64, 64, 0.8);
  color: white;
  
}

.button_apply {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: #1f8fff;
  text-align: center;
  font-size: 15px;
  padding: 4px;
}
  
.admin_joblist {
  position: relative; 
  height: 600px;
  width: 300px;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: rgba(64, 64, 64, 0.8);
  color: white;
}


ol > li {
  font-size: 25px;
}

.apply_button_ol > li {
  list-style: none;
  color: black;
}
